In [5]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
schools_complete = Path("schools_complete.csv")
students_complete = Path("students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
schools_data = pd.read_csv(schools_complete)
students_data = pd.read_csv(students_complete)

# Combine the data into a single dataset.
school_data_complete = pd.merge(students_data, schools_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [6]:
num_unique_schools = school_data_complete['school_name'].nunique()
print("Number of unique schools:", num_unique_schools)

Number of unique schools: 15

In [13]:
total_students = school_data_complete['student_name'].count()
print("Total number of students:", total_students)

Total number of students: 39170

In [14]:
budget = school_data_complete['budget'].sum()
print("Total budget:", budget)

Total budget: 82932329558

In [20]:
budget_p_student = budget/total_students
budget_p_student = round(budget_p_student, 2)
print("Per student budget:" , budget_p_student)

Per student budget 2117240.99

In [22]:
total_math = school_data_complete['math_score'].sum()
ave_math = total_math/total_students
ave_math = round(ave_math,2)
print("Average math score:",ave_math)

Average math score: 78.99

In [23]:
total_reading = school_data_complete['reading_score'].sum()
ave_reading = total_reading/total_students
ave_reading = round(ave_reading,2)
print("Average math score:",ave_reading)

Average math score: 81.88

In [39]:
pass_math = (school_data_complete['math_score'] > 60).sum()
per_pass_math = pass_math / total_students
per_pass_math = round(per_pass_math, 2)
print("Percentage of students passing math:", per_pass_math)

Percentage of students passing math: 0.91

In [33]:
pass_reading = (school_data_complete['reading_score'] > 60).sum()
per_pass_reading = pass_reading / total_students
per_pass_reading = round(per_pass_reading, 2)
print("Percentage of students passing reading:", per_pass_reading)

('Percentage of students passing math:', 1.0)

In [41]:
total_pass = ((school_data_complete['math_score'] > 60) & (school_data_complete['reading_score']>60)).sum()
per_pass = total_pass/total_students
per_pass = round(per_pass,2)
print(per_pass)

0.91

In [47]:
district_sum_df = pd.DataFrame({'Total number of unique schools': [num_unique_schools],'Total students': [total_students],'Total budget': [budget],'Average math score': [ave_math],'Average reading score': [ave_reading],'% passing math': [per_pass_math],'% passing reading': [per_pass_reading],'% overall passing': [per_pass]})

# Display the DataFrame
print(district_sum_df)

   Total number of unique schools  Total students  Total budget  \
0                              15           39170   82932329558

   Average math score  Average reading score  % passing math  \
0               78.99                  81.88            0.91

   % passing reading  % overall passing
0                1.0               0.91