In [95]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
schools_complete = Path("schools_complete.csv")
students_complete = Path("students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
schools_data = pd.read_csv(schools_complete)
students_data = pd.read_csv(students_complete)

# Combine the data into a single dataset.
school_data_complete = pd.merge(students_data, schools_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [96]:
num_unique_schools = school_data_complete['school_name'].nunique()
print("Number of unique schools:", num_unique_schools)

Number of unique schools: 15

In [97]:
total_students = school_data_complete['student_name'].count()
print("Total number of students:", total_students)

Total number of students: 39170

In [98]:
budget = school_data_complete['budget'].sum()
print("Total budget:", budget)

Total budget: 82932329558

In [99]:
budget_p_student = budget/total_students
budget_p_student = round(budget_p_student, 2)
print("Per student budget:" , budget_p_student)

Per student budget: 2117240.99

In [100]:
total_math = school_data_complete['math_score'].sum()
ave_math = total_math/total_students
ave_math = round(ave_math,2)
print("Average math score:",ave_math)

Average math score: 78.99

In [101]:
total_reading = school_data_complete['reading_score'].sum()
ave_reading = total_reading/total_students
ave_reading = round(ave_reading,2)
print("Average math score:",ave_reading)

Average math score: 81.88

In [102]:
pass_math = (school_data_complete['math_score'] > 70).sum()
per_pass_math = pass_math / total_students
per_pass_math = round(per_pass_math, 2)
print("Percentage of students passing math:", per_pass_math)

Percentage of students passing math: 0.72

In [103]:
pass_reading = (school_data_complete['reading_score'] > 70).sum()
per_pass_reading = pass_reading / total_students
per_pass_reading = round(per_pass_reading, 2)
print("Percentage of students passing reading:", per_pass_reading)

Percentage of students passing reading: 0.83

In [104]:
total_pass = ((school_data_complete['math_score'] > 70) & (school_data_complete['reading_score']>70)).sum()
per_pass = total_pass/total_students
per_pass = round(per_pass,2)
print(per_pass)

0.61

In [105]:
district_summary = pd.DataFrame({'Total number of unique schools': [num_unique_schools],'Total students': [total_students],'Total budget': [budget],'Average math score': [ave_math],'Average reading score': [ave_reading],'% passing math': [per_pass_math],'% passing reading': [per_pass_reading],'% overall passing': [per_pass]})

# Display the DataFrame
print(district_summary)

   Total number of unique schools  Total students  Total budget  \
0                              15           39170   82932329558

   Average math score  Average reading score  % passing math  \
0               78.99                  81.88            0.72

   % passing reading  % overall passing
0               0.83               0.61

In [106]:
schools_grouped = school_data_complete.groupby('school_name')
school_sum = schools_grouped.agg({'type': 'first','size': 'count','budget': 'first','math_score': 'mean','reading_score': 'mean',})
school_sum.rename(columns={'school_name': 'School Name', 'type': 'School Type', 'budget': 'Total Budget', 'math_score': 'Average Math Score', 'reading_score': 'Average Reading Score'}, inplace=True)
print(school_sum)

                      School Type  size  Total Budget  Average Math Score  \
school_name
Bailey High School       District  4976       3124928           77.048432
Cabrera High School       Charter  1858       1081356           83.061895
Figueroa High School     District  2949       1884411           76.711767
Ford High School         District  2739       1763916           77.102592
Griffin High School       Charter  1468        917500           83.351499
Hernandez High School    District  4635       3022020           77.289752
Holden High School        Charter   427        248087           83.803279
Huang High School        District  2917       1910635           76.629414
Johnson High School      District  4761       3094650           77.072464
Pena High School          Charter   962        585858           83.839917
Rodriguez High School    District  3999       2547363           76.842711
Shelton High School       Charter  1761       1056600           83.359455
Thomas High School        Charter  1635       1043130           83.418349
Wilson High School        Charter  2283       1319574           83.274201
Wright High School        Charter  1800       1049400           83.682222

                       Average Reading Score
school_name
Bailey High School                 81.033963
Cabrera High School                83.975780
Figueroa High School               81.158020
Ford High School                   80.746258
Griffin High School                83.816757
Hernandez High School              80.934412
Holden High School                 83.814988
Huang High School                  81.182722
Johnson High School                80.966394
Pena High School                   84.044699
Rodriguez High School              80.744686
Shelton High School                83.725724
Thomas High School                 83.848930
Wilson High School                 83.989488
Wright High School                 83.955000

In [107]:
school_sum['% Passing Math'] = (school_data_complete[school_data_complete['math_score'] >= 60].groupby('school_name')['math_score'].count() / school_metrics['size']) * 100
school_sum['% Passing Reading'] = (school_data_complete[school_data_complete['reading_score'] >= 60].groupby('school_name')['reading_score'].count() / school_metrics['size']) * 100
school_sum['Passing Rates'] = (school_data_complete[(school_data_complete['math_score'] >= 60) & (school_data_complete['reading_score'] >= 60)].groupby('school_name')['math_score'].count() / school_metrics['size']) * 100

# Display the DataFrame
print(school_sum)

                      School Type  size  Total Budget  Average Math Score  \
school_name
Bailey High School       District  4976       3124928           77.048432
Cabrera High School       Charter  1858       1081356           83.061895
Figueroa High School     District  2949       1884411           76.711767
Ford High School         District  2739       1763916           77.102592
Griffin High School       Charter  1468        917500           83.351499
Hernandez High School    District  4635       3022020           77.289752
Holden High School        Charter   427        248087           83.803279
Huang High School        District  2917       1910635           76.629414
Johnson High School      District  4761       3094650           77.072464
Pena High School          Charter   962        585858           83.839917
Rodriguez High School    District  3999       2547363           76.842711
Shelton High School       Charter  1761       1056600           83.359455
Thomas High School        Charter  1635       1043130           83.418349
Wilson High School        Charter  2283       1319574           83.274201
Wright High School        Charter  1800       1049400           83.682222

                       Average Reading Score  % Passing Math  \
school_name
Bailey High School                 81.033963       89.529743
Cabrera High School                83.975780      100.000000
Figueroa High School               81.158020       88.436758
Ford High School                   80.746258       89.302665
Griffin High School                83.816757      100.000000
Hernandez High School              80.934412       89.083064
Holden High School                 83.814988      100.000000
Huang High School                  81.182722       88.858416
Johnson High School                80.966394       89.182945
Pena High School                   84.044699      100.000000
Rodriguez High School              80.744686       88.547137
Shelton High School                83.725724      100.000000
Thomas High School                 83.848930      100.000000
Wilson High School                 83.989488      100.000000
Wright High School                 83.955000      100.000000

                       % Passing Reading  Passing Rates
school_name
Bailey High School                 100.0      89.529743
Cabrera High School                100.0     100.000000
Figueroa High School               100.0      88.436758
Ford High School                   100.0      89.302665
Griffin High School                100.0     100.000000
Hernandez High School              100.0      89.083064
Holden High School                 100.0     100.000000
Huang High School                  100.0      88.858416
Johnson High School                100.0      89.182945
Pena High School                   100.0     100.000000
Rodriguez High School              100.0      88.547137
Shelton High School                100.0     100.000000
Thomas High School                 100.0     100.000000
Wilson High School                 100.0     100.000000
Wright High School                 100.0     100.000000

In [108]:
top_schools = school_sum.sort_values('Passing Rates',ascending = False)
top_schools.head()

,School Type,size,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Passing Rates
school_name,,,,,,,,
Cabrera High School,Charter,1858,1081356,83.061895,83.975780,100.0,100.0,100.0
Griffin High School,Charter,1468,917500,83.351499,83.816757,100.0,100.0,100.0
Holden High School,Charter,427,248087,83.803279,83.814988,100.0,100.0,100.0
Pena High School,Charter,962,585858,83.839917,84.044699,100.0,100.0,100.0
Shelton High School,Charter,1761,1056600,83.359455,83.725724,100.0,100.0,100.0

In [109]:
bottom_schools = school_sum.sort_values('Passing Rates',ascending = True)
bottom_schools.head()

,School Type,size,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Passing Rates
school_name,,,,,,,,
Figueroa High School,District,2949,1884411,76.711767,81.158020,88.436758,100.0,88.436758
Rodriguez High School,District,3999,2547363,76.842711,80.744686,88.547137,100.0,88.547137
Huang High School,District,2917,1910635,76.629414,81.182722,88.858416,100.0,88.858416
Hernandez High School,District,4635,3022020,77.289752,80.934412,89.083064,100.0,89.083064
Johnson High School,District,4761,3094650,77.072464,80.966394,89.182945,100.0,89.182945

In [110]:
grades_grouped = school_data_complete.groupby('grade')
math_grade = grades_grouped['math_score'].mean()
print(math_grade)

grade
10th    78.941483
11th    79.083548
12th    78.993164
9th     78.935659
Name: math_score, dtype: float64

In [111]:
grades_grouped = school_data_complete.groupby('grade')
reading_grade = grades_grouped['reading_score'].mean()
print(reading_grade)

grade
10th    81.874410
11th    81.885714
12th    81.819851
9th     81.914358
Name: reading_score, dtype: float64

In [112]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

school_data_complete['Price Per Student'] = pd.cut(school_data_complete['budget'] / school_data_complete['size'], bins=spending_bins, labels=labels)


# Display the DataFrame with the new column
print(school_data_complete)

       Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget  \
0                 66          79          0  District  2917  1910635
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

      Price Per Student
0              $645-680
1              $645-680
2              $645-680
3              $645-680
4              $645-680
...                 ...
39165          $630-645
39166          $630-645
39167          $630-645
39168          $630-645
39169          $630-645

[39170 rows x 12 columns]

In [113]:
grouped_by_spending = school_data_complete.groupby('Price Per Student')

# Calculate the mean of 'math_score' and 'reading_score' for each spending range
spending_summary = grouped_by_spending[['math_score', 'reading_score']].mean()

# Display the DataFrame with the average scores by spending range
print(spending_summary)

                   math_score  reading_score
Price Per Student
<$585               83.363065      83.964039
$585-630            79.982873      82.312643
$630-645            77.821056      81.301007
$645-680            77.049297      81.005604

/var/folders/jm/t7jllmhd2j77h5q0s_1ypxp80000gp/T/ipykernel_48627/3029877630.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped_by_spending = school_data_complete.groupby('Price Per Student')

In [114]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

school_data_complete['size'] = pd.cut(school_data_complete['budget'] / school_data_complete['size'], bins=size_bins, labels=labels)
grouped_by_size = school_data_complete.groupby('Price Per Student')

# Calculate the mean of 'math_score' and 'reading_score' for each spending range
size_summary = grouped_by_size[['math_score', 'reading_score']].mean()

# Display the DataFrame with the average scores by spending range
print(spending_summary)

                   math_score  reading_score
Price Per Student
<$585               83.363065      83.964039
$585-630            79.982873      82.312643
$630-645            77.821056      81.301007
$645-680            77.049297      81.005604

/var/folders/jm/t7jllmhd2j77h5q0s_1ypxp80000gp/T/ipykernel_48627/2870522681.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped_by_size = school_data_complete.groupby('Price Per Student')

In [115]:
types_grouped = school_data_complete.groupby('type')
type_sum = types_grouped.agg({'type': 'first','size': 'count','budget': 'first','math_score': 'mean','reading_score':'mean'})
type_sum.rename(columns={'school_name': 'School Name', 'type': 'School Type', 'budget': 'Total Budget', 'math_score': 'Average Math Score', 'reading_score': 'Average Reading Score'}, inplace=True)

In [117]:
type_sum['% Passing Math'] = (school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['math_score'].count() / type_sum['size']) * 100
type_sum['% Passing Reading'] = (school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['reading_score'].count() / type_sum['size']) * 100
type_sum['Passing Rates'] = (school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)].groupby('type')['math_score'].count() / type_sum['size']) * 100
print(type_sum)

         School Type   size  Total Budget  Average Math Score  \
type
Charter      Charter  12194       1056600           83.406183
District    District  26976       1910635           76.987026

          Average Reading Score  % Passing Math  % Passing Reading  \
type
Charter               83.902821       93.701821          96.645891
District              80.962485       66.518387          80.905249

          Passing Rates
type
Charter       90.560932
District      53.695878